*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/natural-pattern.png');
}

.content{
  margin: 0 auto;
  width: 800px;
  border: 1px solid green;
}

header{
  border: 1px solid red;
}

.header.top{
  background-image: url('../img/natural-header.jpg');
  height: 300px;
  background-size: cover;
  position: relative;
}

.logo-header{
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h2{
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 20px;
  color: white;
}

.header.bottom{
  background-color: #a09da8;
  text-align: center;
}

.menu.header li{
  display: inline-block;
  padding: 15px 20px;
  color: white;
  /* togli il sottolineato */

}

.header li:hover{
  background-color: rgba(18, 17, 18, 0.1);
}


main{
  width: 100%;
  margin-top: 10px;
}

.flexbox{
  content:'';
  display: table;
  clear: both;
}

.float-left{
  float:left;
}

.box.first{
  width: 25%;
  background-color: white;
  height: 300px;
  border-radius: 10px;
}

.header-first-box, .collegamenti{
  padding-left: 10px;
}


.rss{
  width: 20%;
  font-size: 30px;
  color: orange;
}

.titlebox{
  width: 80%;
  font-size: 20px;
}

.collegamenti .help{
  font-size: 17px;

}

ul li,a.help{
  list-style: none;
  padding: 5px 0;
  color: green;
}

section .box.second{
  height: 300px;
  width: 50%;
  background-color: white;

}

.box.second{
  width: 50%;
  background-color: white;
  height: 300px;
  border-radius: 10px;
}

section .title{
  padding-left: 10px;
}

.title p{
  margin-top: 20px;
}


.box.third{
  width: 25%;
}

.article{
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.article.middle{
  margin: 20px 0;
}


footer{
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 10px;
}

.footer-down .facebook-icon{
  display: inline-block;
  width: calc((100% / 3) - 3px);
  text-align: center;
  line-height: 100px;
}
