*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/natural-pattern.png');
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content:'';
  display: table;
  clear:both;
}

.contenitore{
  width: 65%;
  margin: 10px auto;

}

header{
  width: 100%;
  margin-bottom: 10px;
  background-color: blue;
}

.header-top{
  height: 280px;
  width: 100%;
  border: 10px solid white;
  background-image: url('../img/natural-header.jpg');
  background-size: cover;
  position: relative
}

.header-top .logo{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo .dimensione{
  width: 50%;

}

.logo h2{
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 20px;

}

.header-bottom{
  width: 100%;
  background-color: grey;
  text-align: center;
}


ul.menu-header li{
  line-height: 50px;
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
}

ul.menu-header li:hover{
  background-color: rgba(30, 31, 34, 0.13);
}

ul.menu-header li a:hover{
text-decoration: underline;
}

ul.menu-header li a{
  text-decoration: none;
  color: white;
  font-size: 10px;
}

main{
  width: 100%;
  margin: 10px 0;
}

footer{
  width: 100%;
  background-color: white;
  color: lightgrey;
}

.float-left{
  float: left;
}


.col-sx,.col-cx,.col-dx{
  border-radius: 5px;
}

.col-sx{
  width: 25%;
  background-color: white;
  padding: 5px;

}

.box-col-sx .title-feed{
  width: 100%;
}

.box-col-sx .title-feed .icon-feed{
  height: 100%;
}

.icon-feed{
  width: 20%;
  font-size: 30px;
  color: orange;
}


.box-col-sx .title-feed .title{
  width: 70%;
}

.title h4{
  margin-left: 5px;
  text-transform: capitalize;
  font-size: 25px;
}

ul.menu-sx li{
  list-style: none;
  padding: 10px 0;

}


ul.menu-sx li a{
  color: green;
  font-size: 15px;
  text-decoration: none;
}

.col-cx{
  margin: 0 30px;
  width: calc(50% - 60px);
  background-color: white;
}

.col-cx h4{
  font-size: 15px;
  text-shadow: 2px 2px rgba(51, 46, 50, 0.14);
  text-transform: uppercase;
  padding: 10px 5px;
}

.box-col-cx p{
  line-height: 1.6;
  font-size: 10px;
  padding: 5px 10px;
}

.col-dx{
  width: 25%;
}

.box-col-dx{
  height: 200px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

.box-col-dx .article h4{
  font-size: 15px;
  text-shadow: 2px 2px rgba(51, 46, 50, 0.14);
  text-transform: uppercase;
  padding: 10px 5px;
}

.box-col-dx .article p{
  line-height: 1.6;
  font-size: 10px;
  padding: 5px 10px;
}

footer .up{
  text-align: center;
  font-size: 10px;
}

.format-testo{
  text-transform: capitalize;
}

footer .bottom{
  font-size: 50px;
  margin: auto;
  text-align: center;
}

footer .bottom .stileicone{
  width: calc(100% / 3);
  height: 100px;
  line-height: 100px;
  background-color: white;
}
